body {
  background-color: rgb(253, 252, 252);
}
.main{
  height: 90vh;
}
.nav-links::after{
  position: absolute;
  content: '';
  width: 0px;
  height: 0.5rem;
  background-color: red;
  opacity: 0.8;
  border-radius: 10px;
  bottom: -10px;
  transition: all 0.3s;
  left: 0px;
}
.nav-links:hover::after{
  width: 100%;
}
/* .col1{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: 1rem;
} */
.img {
  border-radius: 50%;
  border: 1px solid black;
  width: 55%;
  position: absolute;
  cursor: pointer;
  top: 10rem;
  /* right: 100px; */
  height: 50%;
}
.img:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
footer{
  background-color: aliceblue;

}
.r-h {
  width: 50%;
  height: 85vh;
  position: relative;
}
.sbtbtn{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 20vw;
  margin: 10px;
  border-radius: 10px;
}
span{
  color: cadetblue;
}
input{
  position: relative;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 5vh;
}
#feedback{
  height: 20vh;
}
.vs{
  margin-left: 50px;
  margin-top: 10px;
}
.l-h{
    margin-top: 50px;
    width: 50%;
}
.imgg{
  height: 90vh;
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.secimg{
  height: 27vw;
  width: 19vw;
  margin-top: 25vh;
  margin-left: 5vw;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.btnn{
    width: 55%;
    margin-left: 39px;
    height: 3rem;
    border-radius: 1rem;
}
.mk{
  margin-left: 9vw;
}
.skill{
  height: 104vh;
  /* border: 1px solid black; */
}
.aboutme{
  height: 104vh;
}
.kinh{
  width: 40%;
  height: 100%;
  cursor: pointer;
}
.kinh:hover{
  border-radius: 10px;
  /* border: 1px solid black; */
  box-shadow: 4px 4px 0.1px 1px black;
}
.contact{
  height: 100vh;
}
.skill-img{
  height: 10rem;
  width: 25rem;
}
.imgpro{
  height: 10vw;
}
.imgpro:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: pointer;
}

/* media queryies */
/* @media (max-width:768px){
  .font{
    font-size: large;
  }
  .font1{
    font-size: large;
  }
  .secimg{
    width: 20vw;
  }
}

@media (max-width:991px) {
  .skill{
    height:250vh;
  }
  .aboutme{
    height: 140vh;
  }
  .mk{
    height: 100vh;
  }
  .img{
    width: 40vw;
  }
  .cc{
    display: flex;
    flex-direction: column;
  }
  .abtmes{
    margin-top: 30px;
    align-items: center;
    text-align: center;
  }
  .imgg{
    display: none;
  }
  .secimg{
    margin-top: 30px;
    margin-left: 20px;
  }
  .skill{
   margin: auto;
   /* height: 150vh; */
  /* }
  .col2{
    margin-left: 20%;
    margin-top: 35px;
  }
  .vs{
   padding-top: 15px;
  }
} */ 
/* @media (min-width:992px){
  .skill{
    height: 120vh;
  }
  .navbar{
    position: sticky;
  }
.col2{
  height: 230px;
  width: 10px;
}
.r-h{
  margin-left: 30px;
}
} 