body {
  background-color: rgb(253, 252, 252);
}
.main{
  height: 90vh;
}
.ne {
  margin-top: 0px;
  padding: 30px;
}
.left {
  padding: 50px;
  margin: 30px;
}
.nav-link {
  color: black;
}
.nav-link:hover {
  color: white;
  background-color: black;
}
.btnn:hover {
  box-shadow: 5px 5px 4px 1px black;
  transition: all 0.5s;
}
.img {
  border-radius: 50%;
  border: 1px solid black;
  width: 55%;
  position: absolute;
  cursor: pointer;
  top: 10rem;
  /* right: 100px; */
  height: 50%;
}
.img:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.r-h {
  width: 50%;
  height: 85vh;
  position: relative;
}
.l-h{
    margin-top: 50px;
    width: 50%;
}
.btnn{
    width: 55%;
    margin-left: 39px;
    height: 3rem;
    border-radius: 1rem;
}
.skill{
  height: 104vh;
  border: 1px solid black;
}
.kinh{
  width: 40%;
  height: 100%;
  cursor: pointer;
}
.kinh:hover{
  border-radius: 10px;
  /* border: 1px solid black; */
  box-shadow: 4px 4px 0.1px 1px black;
}
.skill-img{
  height: 10rem;
  width: 25rem;
}
.mk{
  margin-left: 10%;
}
